<%- include('../partials/header')%> <%- include('../partials/navbar')%>

<div class="main">
  <div class="main-containerr">
    <div class="categories">
      <a href="/search?q=Outdoors">
        <i class="fa-solid fa-sun fa-1x"></i>
        <p>Outdoors</p>
      </a>
      <a href="/search?q=Indoors">
        <i class="fa-solid fa-leaf fa-1x"></i>
        <p>Indoors</p>
      </a>
      <a href="/search?q=Seeds">
        <i class="fa-solid fa-seedling fa-1x"></i>
        <p>Seeds</p>
      </a>
      <a href="/search?q=Fertilizers">
        <i class="fa-solid fa-droplet fa-1x"></i>
        <p>Fertilizers</p>
      </a>
    </div>

    <div class="categoriess">
      <a href="/new">
        <i class="fa-solid fa-circle-plus fa-2x"></i>
        <p>Sell Product</p>
      </a>
      <!-- <a href="/show">
        <i class="fa-solid fa-list"></i>
        <p>Show Product</p>
      </a>
      <a href="/update">
        <i class="fa-solid fa-pencil"></i>
        <p>Update Product</p>
      </a>
      <a href="/remove">
        <i class="fa-solid fa-trash"></i>
        <p>Remove Product</p>
      </a> -->
    </div>

    <section class="items">
      <div class="container1">
        <div class="grid">
          <% for(let p of products) { %>
          <a class="item" href="/show/<%= p._id %> ">
            <div class="item-img">
              <img src="<%= p.url %> " alt="img" />
            </div>
            <div class="item-desc">
              <h4><%= p.name %></h4>
              <h5>Rp. <%= p.price %></h5>
              <hr />
              <h5><%= p.category %></h5>
              <p><%= p.seller %></p>
            </div>
          </a>
          <% } %>
        </div>
      </div>
    </section>
  </div>
</div>

<%-include('../partials/footer')%>
