<%- include('../partials/header')%> <%- include('../partials/navbar')%>

<div class="main">
  <div class="main-containerr">
    <h1><%= name %></h1>
    <h2><%= email %></h1>
    <h2><%= phone %></h1>
    <a style="margin-top: 1rem;" href="/signup">Sign Out</a>
  </div>
</div>

<%-include('../partials/footer')%>
